<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  crossorigin="anonymous"
/>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  crossorigin="anonymous"
></script>

<!-- <app-section class="mainHeader"></app-section>  -->

<!-- <mat-grid-list cols="2" rowHeight="full" colswidth="20px auto">
    <mat-grid-tile [colspan]="1" [rowspan]="1"  [style.background]="yellow" class="mainSidebar">  -->

<!-- </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"   [style.background]="pink" class="mainHeaderContent"> -->

<!-- </mat-grid-tile> -->

<!-- </mat-grid-list> -->

<!-- <app-section></app-section>
  <router-outlet class="mainHeaderContent"></router-outlet> -->
<!-- <div id="container">
  <div class= "mainSidebar">
    <app-section>

    </app-section>
</div>
<div id="mainHeaderContent">
    <router-outlet>

    </router-outlet>
</div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-section></app-section>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <!-- <app-footer></app-footer> -->
    </div>
  </div>
</div>

<!-- <div class="screen" >
   
   Image and text -->
<!-- <div class="d-sm-none">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#"> -->
<!-- <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
<!-- WorldWideNews
      </a>
    </nav>
  </div> -->

<!-- <div class="mainSidebar"> 
    <app-section></app-section> </div>
  <div class="lds-heart" *ngIf = "showLoadingIndicator" ><div ></div></div> -->
<!-- <div class="mainHeaderContent"><router-outlet  ></router-outlet> </div> -->

<!-- </div> -->
