<!-- <div class="mainSidebar container">
  <div class="icons">
    <div class="mainIcon">
      <span class="pointer" (click)="onSelect(sections[0])"  style="color:dodgerblue">
        <!-- <img  style="width: 120px;height: 50px;" src="../../assets/icon/TabLogo/SVforTab.png"/> -->
        <!-- <i   class="fas fa-home fa-3x"></i>
      </span>
    </div>
  </div>
  <div class="menu">
    <div class="sidebar" *ngFor="let Section of sections">
      <button class="btn btn-primary" (click)="onSelect(Section)" >
        {{Section.sectionName}}
      </button>
    </div>
  </div>
</div> -->

<!-- <div class="container-fluid">


  <div class="row">
    <div class="col">
        <span class="pointer" (click)="onSelect(sections[0])"  style="color:#007bff">
            <img  style="width: 120px;height: 50px;" src="../../assets/icon/TabLogo/SVforTab.png"/>
            <i class="fas fa-home fa-3x"></i>
        </span>
    </div> -->
  <!-- </div>
  <div class="row"> 
    <div class="col">
       
        <nav class="navbar navbar-expand-lg navbar-dark blackbg mx-auto">
            <a class="navbar-brand text-danger font-weight-bold" href="#">NEWS</a>
            <div class="collapse navbar-collapse  mr-5" id="navbarNav">
                <ul class="navbar-nav" *ngFor="let Section of sections">
                  <li class="nav-item border-white border-right">
                    <a class="nav-link text-light text-uppercase font-weight-bold" (click)="onSelect(Section)" href="#">{{Section.sectionName}}</a>
                  </li>
                </ul>
              </div>
        </nav>
         <div class="sidebar" *ngFor="let Section of sections">
              <button class="btn btn-primary" (click)="onSelect(Section)" >
                {{Section.sectionName}}
              </button>
          </div> 
    </div>
  </div> -->
 
  <!-- <div class="row d-md-none">
      <div class="col">
          <div class="sidebar" *ngFor="let Section of sections">
              <button class="btn btn-primary" (click)="onSelect(Section)" >
                {{Section.sectionName}}
              </button>
          </div>
      </div>
    </div> -->

<!-- </mat-card-content>

    <span class="iconMenu" style="color: tomato"><i (click)="openDialog()" class="fas fa-list fa-2x lineIcome " ></i>
      <h1 class="title" >SweetVish</h1>
    </span> -->
  
  <!-- </div> --> 

  <div class="row">
      <div class="col pr-0 pl-0">
          <nav class="navbar navbar-expand-lg "  style="height: 100%">
              <a class="navbar-brand  display-1 text-uppercase  font-weight-bold ml-5 mb-0 textColor">NEWSWORLD </a>
              <button class="navbar-toggler btn btn-outline-primary " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
                <ul class="navbar-nav  mt-2 mt-lg-0"*ngFor="let Section of sections" data-toggle="ngbCollapse" >
                  
                  <li class="nav-item text-light">
                    <a class="nav-link text-dark text-capitalize font-weight-bold  " (click)="onSelect(Section)"  >{{Section.sectionName}}</a>
                  </li>
                  
                </ul>
                
              </div>
            </nav>
      </div>
  </div>

  <!-- <div class="row">

  <div class="col pl-0 pr-0">
  <nav class="navbar navbar-expand-lg pointer textColor ">
      <a href="/" class="navbar-brand d-flex  font-weight-bold textColor ml-5 justify-content-center" style="font-size:27px"> NEWSWORLD</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse w-100 ml-5" id="collapsingNavbar3">
          <ul class="nav navbar-nav  justify-content-center border-right border-dark " *ngFor="let Section of sections">
              <li class="nav-item">
                  <a class="nav-link text-capitalize font-weight-bold text-dark pointer" (click)="onSelect(Section)">{{Section.sectionName}}</a>
              </li>
          </ul>
      </div>
  </nav>
  
  </div>
  </div> -->