

<div class="container">
  <i  style="color: tomato" (click)="onCloseCancle()" class="fas fa-window-close fa-2x cancle float-right"></i>
  <div class="text-center">
    <img src="{{data.multimedia.url}}"  class="img-fluid" style="height: 400px" alt="Responsive image">
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
        <p>{{data.multimedia.caption}}</p>
        <footer class="blockquote-footer">{{data.multimedia.copyright}}</footer>
        </blockquote>
  </div>
</div>



















